.ui-input {
    display: inline-block;
    overflow: hidden !important;
    padding: 0 !important;
}
.ui-input input,
.ui-input textarea {
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
