.ui-radio {
    width: 17px;
    height: 17px;
    background: url('images/ecui/radio-normal.png');
}
.ui-radio-checked {
    background-image: url('images/ecui/radio-choice.png')
}
.ui-radio-disabled {
    background-image: url('images/ecui/radio-disable.png');
}
.ui-radio-checked-disabled {
    background-image: url('images/ecui/radio-dischoice.png');
}