/*<script>window.onload=function(){var url=location.href,hash=document.getElementsByTagName('TEXTAREA')[0].value;url=decodeURIComponent(url.slice(url.lastIndexOf('=')+1));parent.location.href=url+'#'+encodeURIComponent(hash.slice(hash.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')||' ');}</script><textarea>*/
.ui-radio {
    width: 17px;
    height: 17px;
    background: url('images/ecui/radio-normal.png');
    input {
    	position: absolute !important;
    	width: 1px !important;
    	height: 1px !important;
    	left: -20px !important;
    	top: -20px !important;
    }
}
.ui-radio-checked {
    background-image: url('images/ecui/radio-choice.png')
}
.ui-radio-disabled {
    background-image: url('images/ecui/radio-disable.png');
}
.ui-radio-checked-disabled {
    background-image: url('images/ecui/radio-dischoice.png');
}
