/*<script>window.onload=function(){var url=location.href,hash=document.getElementsByTagName('TEXTAREA')[0].value;url=decodeURIComponent(url.slice(url.lastIndexOf('=')+1));parent.location.href=url+'#'+encodeURIComponent(hash.slice(hash.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')||' ');}</script><textarea>*/
.ui-table {
    overflow: hidden !important;
    position: relative;
    table{
    	width: 100%;
    }
	.ui-table-head {
	    position: absolute !important;
	    overflow: hidden !important;
	    top: 0px;
	    height: 50px !important;
		line-height: 50px;
	    .ui-table-hcell{
	    	height: 50px;
		    line-height: 50px;
		    background: #f7fcff;
		    border-top: 2px solid #a9d3fa;
		    font-size: 16px;
		    padding: 0 10px;
		    text-align: left;
	    }
	}
	.ui-table-body {
	    overflow: auto !important;
	    padding-top: 51px !important;
	    .ui-table-row:nth-child(2n) > td {
    		background: #f7fcff;
		}
	    .ui-table-cell{
	    	padding: 10px;
		    text-align: left;
		    text-overflow: ellipsis;
		    overflow: hidden;
		    white-space: nowrap;
	    }

	}
}
