/*<script>window.onload=function(){value=document.getElementsByTagName('TEXTAREA')[0].value;parent.postMessage({url:location.href.slice(7),text:value.slice(value.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')},'*');}</script><textarea>*/
* {
    margin: 0;
    padding: 0;
}

html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
}

html,
body {
    color: #495362;
    background: #FFF;
    font-size: 14px;
    height: 100%;
}

input,
button,
select,
textarea {
    outline: none
}

table {
    border-spacing: 0
}

fieldset,
img {
    border: 0
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal
}

ol,
ul,
li {
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

a {
    color: #8492A6;
    text-decoration: none;
    cursor: pointer;
}

.box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-dialog h6,
.ui-tab h6,
.ui-checktree h6 {
    font-weight: normal;
    margin: 0;
}


/*元素存在但显示为不可见*/

.ui-visible-hidden {
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.ui-hide {
    display: none !important;
}

#ECUI_LOCATOR {
    position: absolute;
    visibility: hidden;
}

.ui-valid {
    position: absolute !important;
    overflow: scroll !important;
    visibility: hidden !important;
    top: -90px !important;
    left: -90px !important;
    width: 80px !important;
    height: 80px !important;
    border: 1px solid !important;
}

.ui-valid div {
    position: absolute !important;
    top: 0 !important;
    height: 90px !important;
}

.ui-item {
    overflow: hidden !important;
}
/* 
 * button 
 */
.ui-button {

} 
/*
 * 蓝色按钮
 */
.blue-btn {
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #368cda;
    border: 1px solid #368cda;
    border-radius: 25px;
    cursor: pointer;
}
.blue-btn-hover {
    background-color: #429aeb;
    border: 1px solid #429aeb;
    color: #fff;
    border-radius: 25px;
    height:30px;
    line-height: 30px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}
.blue-btn-active {
    background-color: #2e7bc2;
    border: 1px solid #2e7bc2;
    color: #fff;
    border-radius: 25px;
    height:30px;
    line-height: 30px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;


}
.ui-disabled .blue-btn,
.blue-btn-disabled {
    background-color: #EFF2F7;
    border:1px solid #eff2f7;
    color: #E0E6ED;
    border-radius: 25px;
    height:30px;
    line-height: 30px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}
/*
 * 白色按钮
 */
.white-btn {
    background-color: #fff;
    border: 1px solid #acbaca;
    color: #4293dd;
    border-radius: 25px;
    height:30px;
    line-height: 30px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}
.white-btn-hover {
    background-color: #fff;
    border: 1px solid #368cda;
    color: #368CDA;
    border-radius: 25px;
    height:30px;
    line-height: 30px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;

}
.white-btn-active {
    background-color: #2E7BC2;
    border: 1px solid #2e7bc2;
    color: #fff;
    border-radius: 25px;
    height:30px;
    line-height: 30px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;

}
.ui-disabled .white-btn,
.white-btn-disabled {
    background-color: #fff;
    border:1px solid #EFF2F7;
    color: #e0e6ed;
    border-radius: 25px;
    height:30px;
    line-height: 30px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}

/* 
 * calendar-input
*/

/* 
 * calendar
*/

/* 
 * ui-checktree
*/

/* 
 * checkbox
*/

/* 
 * combox
*/

/* 
 * control
*/

/* 
 * core
*/

/* 
 * dialog
*/

/* 
 * esr
*/

/* 
 * input-control
*/

/* 
 * input-group
*/

.ui-input-group {
  .ui-tip {
      width: 260px;
      left: 80px;
      color: red;
      position: absolute;
      display: none;
  }
}
.ui-input-group-error {
  .ui-select {
        border-color: #D0021B;
        background-color: #FFEAD6;
  }
  .ui-select-text{
      background-color: #FFEAD6;
  }
  .ui-text{
    border-color: #D0021B;
    input{
      background-color: #FFEAD6;
    }
  }
  .ui-tip {
      display: block;
  }
}

/* 
 * items
*/

/* 
 * label
*/

/* 
 * listbox
*/

/* 
 * locked-table
*/

/* 
 * m-list-view
*/

/* 
 * m-popup
*/

/* 
 * m-scroll
*/

/* 
 * m-select
*/

/* 
 * messagebox
*/

/* 
 * month-view
*/

/* 
 * multilevel-select
*/

/* 
 * popup
*/

/* 
 * progress-bar
*/
.ui-progress-bar {
    .ui-progress-mask {
        background: blue;
        color: #fff;
    }
}
/* 
 * progress-circle 无样式
*/

/* 
 * progress
*/

/* 
 * radio
*/
.ui-radio {
    width: 17px;
    height: 17px;
    background: url('images/ecui/icons.png');
    background-position: 0 -252px;
}

.ui-radio-checked {
    background-image: url('images/ecui/icons.png');
    background-position: 0 -286px;
}
.ui-disabled .ui-radio,
.ui-radio-disabled {
    background-image: url('images/ecui/icons.png');
    background-position: 0 -185px;
}
.ui-disabled .ui-radio-checked,
.ui-radio-checked-disabled {
    background-image: url('images/ecui/icons.png');
    background-position: 0 -218px;
}
/* 
 * retina
*/

/* 
 * select
*/

/* 
 * submit
*/

/* 
 * tab
*/

/* 
 * table
*/
.ui-table {
    border: none;
    padding: 0px;
    table {
        th {
            height: 50px;
            line-height: 50px;
            background: #EDF8FF;
            border-top: 2px solid #a9d3fa;
            border-bottom: 1px solid #a9d3fa;
            font-size: 16px;
            padding: 0;
            text-align: left;
        }
        td {
            height: 50px;
            padding: 0;
            text-align: left;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-all;
        }
        .ui-table-row:nth-child(2n) > td {
            background: #f7fcff;
        }
    }
}
/* 
 * text
*/

/* 
 * tree-view
*/

/* 
 * upload
*/

/*
 * 提示框样式
 */
#hintContainer {
    position: fixed;
    z-index: 65555;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#hintContainer > div {
    min-width: 210px;
    max-width: 522px;
    padding: 35px;
    background: rgba(43,43,59,0.95);
    border-radius: 4px;
    line-height: 30px;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
}
#hintContainer .successHint {
    background: rgba(58,183,106,0.70);
}
#hintContainer .errorHint {
    background: rgba(213,18,0,0.70);
}
#hintContainer .warnHint {
    background: rgba(43,43,59,0.95);
}

