/**
 *     鍏叡less鏂规硶
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.ui-hide {
  display: none !important;
}
.ui-valid {
  position: absolute !important;
  overflow: scroll !important;
  visibility: hidden !important;
  top: -90px !important;
  left: -90px !important;
  width: 80px !important;
  height: 80px !important;
  border: 1px solid !important;
}
.ui-valid div {
  position: absolute !important;
  top: 0 !important;
  height: 90px !important;
}
.ui-mask {
  position: absolute !important;
  background-color: #000 !important;
}
.ui-item {
  overflow: hidden !important;
}
.ui-input {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  overflow: hidden !important;
  padding: 0 !important;
}
.ui-input input,
.ui-input textarea {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.ui-select .ui-select-text {
  overflow: hidden !important;
}
.ui-select-options {
  position: absolute !important;
  z-index: 65535 !important;
  overflow: auto !important;
}
.ui-select-options .ui-select-item {
  display: block !important;
}
.ui-select,
.ui-combox {
  overflow: hidden !important;
}
.ui-dialog .ui-dialog-close {
  position: absolute !important;
}
.ui-dialog .ui-dialog-body {
  position: relative !important;
}
.ui-monthview table {
  border: 0 !important;
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}
.ui-progress {
  position: relative !important;
  padding: 0 !important;
}
.ui-progress .ui-progress-text,
.ui-progress .ui-progress-mask {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
.ui-retina {
  overflow: hidden !important;
  position: relative !important;
  background: none !important;
}
.ui-retina img {
  position: absolute !important;
}
.ui-table {
  overflow: hidden !important;
  position: relative;
}
.ui-table-head {
  position: absolute !important;
  overflow: hidden !important;
  top: 0px;
}
.ui-table-body {
  overflow: auto !important;
}
#ECUI_LOCATOR {
  position: absolute;
  visibility: hidden;
}
/**
 *     Dialog
 */
.ui-dialog {
  background: #fff;
  border: none;
  position: absolute;
}
.ui-dialog .ui-dialog-title {
  padding-left: 15px;
  background-color: #368CDA;
  border: none;
  font-weight: normal;
  color: #fff;
  font-size: 16px;
}
.ui-dialog .ui-dialog-close {
  width: 15px;
  height: 15px;
  background: url(images/close.png) no-repeat;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.ui-dialog .ui-dialog-close:hover,
.ui-dialog .ui-dialog-close-hover {
  background: url(images/close_hover.png) no-repeat;
}
/**
 *     Button
 */
/* 蓝色按钮 */
.blue-btn {
  background-color: #368cda;
  border: 1px solid #368cda !important;
  color: #fff ;
}
.blue-btn:hover {
  background-color: #429aeb;
  border-color: #429aeb;
}
.blue-btn-hover {
  /*兼容IE9以下*/
  background-color: #429aeb;
  border-color: #429aeb;
}
.blue-btn:active {
  background-color: #2e7bc2;
  border-color: #2e7bc2;
}
.blue-btn-active {
  /*兼容IE9以下*/
  background-color: #2e7bc2;
  border-color: #2e7bc2;
}
.blue-btn-disabled,
.blue-btn-disabled:hover {
  /* 蓝色按钮失效 */
  background-color: #eff2f7;
  border-color: #eff2f7 !important;
  color: #e0e6ed !important;
}
/* 白色按钮 */
.white-btn {
  background-color: #fff;
  border: 1px solid #acbaca !important;
  color: #4293dd !important;
}
.white-btn:hover {
  border-color: #368cda !important;
}
.white-btn-hover {
  /*兼容IE9以下*/
  border-color: #368cda !important;
}
.white-btn:active {
  background-color: #2e7bc2;
  color: #fff !important;
}
.white-btn-active {
  /*兼容IE9以下*/
  background-color: #2e7bc2;
  color: #fff !important;
}
.white-btn-disabled,
.white-btn-disabled:hover {
  /* 白色按钮失效 */
  background-color: #fff !important;
  border-color: #eff2f7 !important;
  color: #e0e6ed !important;
}
/**
 *    Text控件
 */
.ui-text {
  border: 1px solid #acbaca;
  color: #8492a6;
}
.ui-text:hover {
  border-color: #8492a6;
}
.ui-text-hover {
  /*兼容IE9以下*/
  border-color: #8492a6;
}
.ui-text-active {
  /*兼容IE9以下*/
  border-color: #8492a6;
}
.ui-text-focus {
  border-color: #368cda !important;
}
.ui-text-disabled,
.ui-text-disabled:hover {
  border-color: #e0e6ed;
  background-color: #eff2f7;
  color: #e0e6ed;
}
/**
 *     Select
 */
.ui-select {
  width: 110px;
  height: 28px;
  padding-right: 30px;
  background: url(images/arrow.png) no-repeat 120px center;
  vertical-align: middle;
  font-size: 14px;
  font-family: "宋体";
  display: inline-block;
  border: 1px solid #acbaca;
  color: #8492a6;
}
.ui-select:hover {
  border-color: #8492a6;
}
.ui-select-hover {
  /*兼容IE9以下*/
  border-color: #8492a6;
}
.ui-select:active {
  border-color: #368cda;
}
.ui-select-active {
  /*兼容IE9以下*/
  border-color: #368cda;
}
.ui-select-focus {
  border-color: #368cda;
}
.ui-select .ui-select-text {
  padding: 0;
  display: block;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.ui-select-disabled,
.ui-select-disabled:hover {
  border-color: #e0e6ed;
}
.ui-select-disabled .ui-select-text,
.ui-select-disabled .ui-select-text:hover,
.ui-select-disabled .ui-select-text:active {
  background-color: #eff2f7;
  color: #e0e6ed;
}
.ui-select-options {
  border: 1px solid #d7d8d9;
  font-size: 12px;
  font-family: "宋体";
  background: #fff;
  overflow-x: hidden;
}
.ui-select-options .ui-item {
  display: block;
  text-indent: 10px;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui-select-options .ui-select-item:hover,
.ui-select-options .ui-select-item:focus,
.ui-select-options .ui-select-item-hover,
.ui-select-options .ui-select-item-focus {
  background-color: #368cda;
  color: #fff;
  cursor: pointer;
}
/**
 *     Select
 */
.ui-text textarea {
  width: 100%;
  height: 100%;
  resize: none;
  word-wrap: break-word;
  border: 1px solid #ACBACA;
}
.ui-text textarea::placeholder {
  color: #c0ccda;
}
/**
 *     单日历控件
 */
.ui-singleCalendar .ui-singleCalendar:hover {
  border-color: #8492a6;
}
.ui-singleCalendar-hover {
  /*兼容IE9以下*/
  border-color: #8492a6;
}
.ui-singleCalendar:active {
  border-color: #368cda;
}
.ui-singleCalendar-active {
  /*兼容IE9以下*/
  border-color: #368cda;
}
.ui-singleCalendar-focus {
  border-color: #368cda;
}
.ui-singleCalendar-disabled,
.ui-singleCalendar-disabled:hover {
  border-color: #e0e6ed;
}
/**
 *     Radio
 */
.ui-radio {
  width: 17px;
  height: 17px;
  background: url('images/radio-normal.png');
}
.ui-radio-checked {
  background-image: url('images/radio-choice.png');
}
.ui-radio-disabled {
  background-image: url('images/radio-disable.png');
}
.ui-radio-checked-disabled {
  background-image: url('images/radio-dischoice.png');
}
/**
 *     Checkbox
 */
.ui-checkbox {
  width: 17px;
  height: 17px;
  background-image: url('images/checkbox-normal.png');
  background-repeat: no-repeat;
}
.ui-checkbox-checked {
  background-image: url('images/checkbox-choice.png');
}
.ui-checkbox-disabled {
  background-image: url('images/checkbox-disable.png');
}
.no-return-checked-disabled {
  background-image: url('images/checkbox-dischoice.png');
}
/**
 *     日历控件
 */
.ui-singleCalendar {
  width: 180px;
  height: 30px;
  border: 1px solid #ccc;
}
.ui-singleCalendar-options {
  position: absolute;
}
/**
 *     分页控件
 */
.pagination {
  -moz-user-select: none;
  /*火狐-禁止文本选中*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
  height: 24px;
  font-size: 14px;
}
.pagination div {
  float: left;
}
.pagination .dynamic-page {
  float: left;
}
.pagination .dynamic-page div {
  float: left;
}
.pagination .dynamic-page .pagination-button:hover {
  color: #38abff;
}
.pagination .pagination-button {
  margin-right: 6px;
  padding: 0 4px;
  min-width: 16px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  color: #495362;
  border-radius: 3px;
  cursor: pointer;
}
.pagination .pagination-button-hover {
  color: #38abff;
}
.pagination .pagination-button-active {
  background: #368cda;
  color: #fff !important;
}
.pagination .disabled {
  color: #ccc;
}
/**
 *     地区联动控件
 */
.ui-cityselect {
  position: relative;
}
.ui-cityselect .ui-cityselect-pro,
.ui-cityselect .ui-cityselect-city {
  position: relative;
  width: 150px;
  height: 30px;
  line-height: 30px;
  background: #FFF;
  vertical-align: middle;
  font-size: 14px;
  display: inline-block;
  border: 1px solid #acbaca;
  color: #8492a6;
}
.ui-cityselect .ui-cityselect-input {
  display: none;
}
/**
 *     日历控件
 */
.calendar-header {
  width: 256px;
  height: 45px;
  background: #fff;
  border: 1px solid #ccc;
  position: relative;
  text-align: center;
}
.calendar-header .calendar-title {
  display: block;
  width: 130px;
  height: 100%;
  margin: 0 auto;
  line-height: 45px;
  font-size: 14px;
}
.calendar-header .prev-year,
.calendar-header .prev-month,
.calendar-header .next-month,
.calendar-header .next-year {
  width: 24px;
  height: 24px;
  font-size: 14px;
  position: absolute;
  top: 12px;
  cursor: pointer;
}
.calendar-header .prev-year {
  left: 22px;
}
.calendar-header .prev-month {
  left: 48px;
}
.calendar-header .next-month {
  right: 48px;
}
.calendar-header .next-year {
  right: 22px;
}
.calendar-view {
  background: #fff;
}
.calendar-view table {
  border: 1px solid #ccc !important;
  border-top: 0 !important;
  padding: 0 12px 7px 12px;
  border-spacing: 8px;
  border-collapse: separate;
}
.calendar-view table td {
  width: 24px;
  height: 24px;
  border: none;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  font: 12px "Microsoft YaHei";
  cursor: pointer;
  border-radius: 2px;
}
.calendar-view table .ui-monthview-date-hover {
  background: #c0ccda;
}
.calendar-view table .ui-monthview-date:hover {
  background: #c0ccda;
}
.calendar-view table .ui-monthview-date-selected {
  background: #368cda !important;
  color: #fff !important;
}
.calendar-view table .ui-monthview-date-disabled {
  color: #dde3eb !important;
  background: #fff !important;
}
